<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16">
  <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"/>
</svg>
<body>
<div class="container">
    <div class="topnav">
      <a style="margin-left:30px ;font-size:25px;color: rgb(255, 238, 0);" class="active" href="#home"><h3>JASS</h3></a>
      <button style="position : absolute;left:150px;top:14px"type="button" class="btn btn-outline-warning">Feed</button>
      <button style="position : absolute;left:230px;top:14px"type="button" class="btn btn-outline-warning">Cookie</button>
      <button style="position : absolute;left:325px;top:14px"type="button" class="btn btn-outline-warning">Admin</button>
      <button style="position : absolute;right:270px;top:14px" type="button" class="btn btn-outline-warning">Profile</button>
      <button style="position : absolute;right:142px;top:14px"type="button" class="btn btn-outline-warning">Create Post</button>
      <button style="position : absolute;right:45px;top:14px"type="button" class="btn btn-outline-warning">Logout</button>
      
    
</div>
<img src="./assets/images/aboutus.jpg" alt="Notebook" style="width:100%;height: 100%;position:absolute;left:0px;top:65px">
<div class="bg-text">
  <h3 style="position: absolute;left: 60px; top: 30px;color: #ffee00">About<i style="color:rgb(235, 10, 10)">Us</i></h3> 
  <p>There are countless online education marketplaces on the internet. And there’s us. We are not the biggest. We are not the cheapest. But we are the fastest growing. We have the highest course completion rate in the industry.                 
    And the reason is, we don’t give up. When a student commits to a course, we commit to the student. We are not going to sugar coat it - we will make you complete, come what may. You may not have given much thought to what you are signing up for, but we believe you are signing up for knowledge that is useful and complete. And what we do, we do to make that belief a reality. We are ridiculously committed to our students. Be it constant reminders, relentless masters or 24 x 7 online support - we will absolutely make sure that you run out of excuses to not complete the course.
  </p>
  <div id="social"c class="bottam">
    <a href="https://www.facebook.com/" class="fa fa-facebook"></a>
    <a class="twitterBtn smGlobalBtn" href="#"></a>
    <a class="googleplusBtn smGlobalBtn" href="#"></a>
    <a class="linkedinBtn smGlobalBtn" href="#"></a>
    <a class="pinterestBtn smGlobalBtn" href="#"></a>
    <a class="tumblrBtn smGlobalBtn" href="#"></a>
    <a class="rssBtn smGlobalBtn" href="#"></a>
</div>
<div class="col-md-3 col-xs-6">
  <div class="details-left">
      <h3 style="position: absolute;
      top:320px;
      left: 21%;
      color: #ffee00;">Contact<i style="color: red;"><b style="color: black;">_</b>Details</i></h3>
      <ul class="topic">
          <li>Age </li>
          <li>Country </li>
          <li>Adress</li>
          <li>E-mail</li>
          <li>Phone</li>
          <li>Position</li>
      </ul>
  </div>
</div>

<div class="col-md-3 col-xs-6">
  <div class="detail-right">
      <ul class= "value">
          <li>24</li>
          <li>Turkey</li>
          <li>Pendik-İstanbul</li>
          <li>senerov@senerov.com</li>
          <li>0534 344 44 44</li>
          <li>Free</li>
      </ul>
  </div>
  <div class="edit-button">
  <button type="button" class="btn btn-warning"> Edit </button>
  </div>
</div>

</div>


</div>
</body>