<body>
  
    <div class="container">
      <div class="topnav">
        <a style="margin-left:30px ;font-size:25px;color: rgb(255, 238, 0);" class="active" href="#home"><h3>JASS</h3></a>
      </div>
  
    <img src="./assets/images/login.jpg" alt="Notebook" style="width:100%;height: 100%;position:absolute;left:0px;top:65px">
    
    
    <div class="bg-text">
      <h1 style="font-family: Arvo;position: absolute;left: 275px; top: 30px;color: rgb(255, 251, 0);">LOG IN</h1> 
      <div class="col input-group">
      <div style="position: absolute;top: 130px;left:120px;height: 35px;"  class="input-group-text">@</div>
      <input style="border-radius:  5px 5px 5px 5px;position: absolute;top: 130px;left:160px;width: 355px;height: 35px;" type="email" class="form-control" formControlName="email" placeholder="Email Address">
      </div>
      <div class="col">
        <input  style="width: 396px;height: 35px;border-radius:  5px 5px 5px 5px;position: absolute;top: 195px;left:120px;"type="password" class="form-control" formControlName="password" placeholder="Password">
      </div>
        <button class="log_button" mat-raised-button color="accent" >Login</button>
    </div>
    </div>
  </body> 
  
