<body>
    <div>
        <div class="topnav">
            <a style="margin-left:30px ;font-size:25px;color: rgb(255, 238, 0);" class="active" href="#home">
                <h3>JASS</h3>
            </a>
            <button style="position : absolute;left:150px;top:14px" type="button"
                class="btn btn-outline-warning">Feed</button>
            <button style="position : absolute;left:230px;top:14px" type="button"
                class="btn btn-outline-warning">Cookie</button>
            <button style="position : absolute;left:325px;top:14px" type="button"
                class="btn btn-outline-warning">AdminPanel</button>
            <button style="position : absolute;left:454px;top:14px" type="button"
                class="btn btn-outline-warning">Videos</button>
            <button style="position : absolute;right:267px;top:14px" type="button"
                class="btn btn-outline-warning">Profile</button>
            <button style="position : absolute;right:142px;top:14px" type="button"
                class="btn btn-outline-warning">Create
                Post</button>
            <button style="position : absolute;right:45px;top:14px" type="button"
                class="btn btn-outline-warning">Logout</button>
        </div>
        <br><br><br>
            <div>
               
                <div class="boxed">
                   <b id="video" style="margin:45px 10px;position:relative;top: 15%;">Video Tag</b> 
                    <h6>Options Below</h6>
                </div>
                <br>
                <div class="boxed">
                   <b style="margin:45px 10px;position:relative;top: 14%;">BOTH ASS AND LEC</b>
                   <h6>Options Below</h6>
                   <p style="color:black;position:  absolute;top:41%;left:62%;">Lecture</p>
                </div>
                <br>
                <div class="boxed">
                   <b style="margin:45px 10px;position:relative;top: 14%;">Post Two</b>
                   <h6>Options Below</h6>
                   <p style="color:black;position:  absolute;top:60.5%;left:62%;">Assignment</p>
                </div>
                <br>
                <div class="boxed">
                   <b style="margin:45px 10px;position:relative;top: 14%;">New Test Post</b>
                   <h6>Options Below</h6>
                   <p style="color:black;position:  absolute;top:80.5%;left:62%;">Assignment  </p>
                   <p style="color:black;position:  absolute;top:80.5%;left:69.5%;">Lecture  </p>
                </div>
                <br>
                <div class="boxed">
                    <b style="margin:45px 10px;position:relative;top: 14%;">Lecture Only</b>
                    <h6>Options Below</h6>
                    <p style="color:black;position:  absolute;top:100%;left:62%;">Lecture</p>
                </div>
             
                <br><br><br>
        </div>
    </div>
</body>