<body>
    <div>
        <div class="topnav">
            <a style="margin-left:30px ;font-size:25px;color: rgb(255, 238, 0);" class="active" href="#home">
                <h3>JASS</h3>
            </a>
            <button style="position : absolute;left:150px;top:14px" type="button"
                class="btn btn-outline-warning">Feed</button>
            <button style="position : absolute;left:230px;top:14px" type="button"
                class="btn btn-outline-warning">Cookie</button>
            <button style="position : absolute;left:325px;top:14px" type="button"
                class="btn btn-outline-warning">Videos</button>
            <button style="position : absolute;right:267px;top:14px" type="button"
                class="btn btn-outline-warning">Profile</button>
            <button style="position : absolute;right:142px;top:14px" type="button"
                class="btn btn-outline-warning">Create
                Post</button>
            <button style="position : absolute;right:45px;top:14px" type="button"
                class="btn btn-outline-warning">Logout</button>
        </div>
        <!-- <div class="bg-text"> -->
        <!-- <img src="./assets/images/aboutus.jpg" alt="Notebook" style="width:100%;height: 100%;position:absolute;left:0px;top:65px"> -->
        <br><br><br><br>
        <div>
            <h4><b>Thread</b></h4>
            <div class="boxed">
                <b id="video">Video Tag</b>
                <p>

                </p>
                <hr>
                <button style="position: absolute;top:55%;left:18%" type="button" class="btn btn-success">Upvote</button>
                <button style="position: absolute;top:55%;left: 29%;"type="button" class="btn btn-danger">Downvote</button>
                <button style="position: absolute;top:55%;left:80%"type="button" class="btn btn-warning">Reply</button>
            </div>
            <br>
            <h4><b>Replies</b></h4>
            <div class="boxed">
                <b>BOTH ASS AND LEC</b>
                <p>

                </p>
                <hr>
                <button style="position: absolute;top:110%;left:18%;" type="button" class="btn btn-success">Upvote</button>
                <button style="position: absolute;top:110%;left: 29%;"type="button" class="btn btn-danger">Downvote</button>
                <button style="position: absolute;top:110%;left:80%"type="button" class="btn btn-warning">Reply</button>
            </div>
        </div>
    <!-- </div> -->
</div>
</body>