<body>
    <!-- <div> -->
        <div class="topnav">
            <a style="margin-left:30px ;font-size:25px;color: rgb(255, 238, 0);" class="active" href="#home">
                <h3>JASS</h3>
            </a>
            <button style="position : absolute;left:150px;top:14px" type="button"
                class="btn btn-outline-warning">Feed</button>
            <button style="position : absolute;left:230px;top:14px" type="button"
                class="btn btn-outline-warning">Cookie</button>
            <button style="position : absolute;left:325px;top:14px" type="button"
                class="btn btn-outline-warning">Videos</button>
            <button style="position : absolute;right:267px;top:14px" type="button"
                class="btn btn-outline-warning">Profile</button>
            <button style="position : absolute;right:142px;top:14px" type="button"
                class="btn btn-outline-warning">Create
                Post</button>
            <button style="position : absolute;right:45px;top:14px" type="button"
                class="btn btn-outline-warning">Logout</button>
        </div>
        <!-- <div class="bg-text"> -->
            <img class="nice" src="./assets/images/showimg.jpg" alt="Notebook">
        <br><br><br><br>
        
        <div class="bg-text">
            
            <h4><b>Thread</b></h4>
            <div class="boxed">
                <b id="subhead">Video Tag</b>
                <p>

                </p>
                <hr>
                <button style="position: absolute;top:32.5%;left:18%" type="button" class="btn btn-success">Upvote</button>
                <button style="position: absolute;top:32.5%;left: 29%;"type="button" class="btn btn-danger">Downvote</button>
                <button style="position: absolute;top:32.5%;left:80%"type="button" class="btn btn-warning">Reply</button>
            </div>
            <br>
            <h4><b>Replies</b></h4>
            <div class="boxed">
                <b id="subhead">BOTH ASS AND LEC</b>
                <p>

                </p>
                <hr>
                <button style="position: absolute;top:74.5%;left:18%;" type="button" class="btn btn-success">Upvote</button>
                <button style="position: absolute;top:74.5%;left: 29%;"type="button" class="btn btn-danger">Downvote</button>
                <button style="position: absolute;top:74.5%;left:80%"type="button" class="btn btn-warning">Reply</button>
            </div>
        </div>
    <!-- </div> -->
<!-- </div> -->
</body>