.topnav {
    background-color: rgb(0, 0, 0);
    overflow: hidden;
    /* background-color:transparent; */
    width: 100%;
    position: absolute;
    top:0px;
    left:0px;
    width: 100%;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin: 0%;
  }
  p
  {
    position:absolute;
    top:15%;
    left:7%;
    right:5%;
    color:#f5f5dc;

  }
 
  .bottam{
    position: absolute;
    top:49%;
    left:55%;


}
.topic
{
   position: absolute;
   top:360px;
   left:20%;
   color:rgb(43, 226, 195);
}
.value
{
    position: absolute;
   top:360px;
   left:120%;
   color:#f5f5dc;
}
.edit-button
{
   position: absolute;
   top:522px;
   left:41%;
}

  
.smGlobalBtn {
    /* global button class */
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border: 2px solid #ddd;
    /* add border to the buttons */
    box-shadow: 0 3px 3px #999;
    padding: 0px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-size: 25px;
    font-weight: normal;
    line-height: 2em;
    border-radius: 27px;
    -moz-border-radius: 27px;
    -webkit-border-radius: 27px;
}


/* facebook button class*/

.facebookBtn {
    background: #BDBDBD;
}

.facebookBtn:before {
    /* use :before to add the relevant icons */
    font-family: "FontAwesome";
    content: "\f09a";
    /* add facebook icon */
}

.facebookBtn:hover {
    color: #4060A5;
    background: #fff;
    border-color: #4060A5;
    /* change the border color on mouse hover */
}


/* twitter button class*/

.twitterBtn {
    background: #BDBDBD;
}

.twitterBtn:before {
    font-family: "FontAwesome";
    content: "\f099";
    /* add twitter icon */
}

.twitterBtn:hover {
    color: #00ABE3;
    background: #fff;
    border-color: #00ABE3;
}


/* google plus button class*/

.googleplusBtn {
    background: #BDBDBD;
}

.googleplusBtn:before {
    font-family: "FontAwesome";
    content: "\f0d5";
    /* add googleplus icon */
}

.googleplusBtn:hover {
    color: #e64522;
    background: #fff;
    border-color: #e64522;
}


/* linkedin button class*/

.linkedinBtn {
    background: #BDBDBD;
}

.linkedinBtn:before {
    font-family: "FontAwesome";
    content: "\f0e1";
    /* add linkedin icon */
}

.linkedinBtn:hover {
    color: #0094BC;
    background: #fff;
    border-color: #0094BC;
}


/* pinterest button class*/

.pinterestBtn {
    background: #BDBDBD;
}

.pinterestBtn:before {
    font-family: "FontAwesome";
    content: "\f0d2";
    /* add pinterest icon */
}

.pinterestBtn:hover {
    color: #cb2027;
    background: #fff;
    border-color: #cb2027;
}


/* tumblr button class*/

.tumblrBtn {
    background: #BDBDBD;
}

.tumblrBtn:before {
    font-family: "FontAwesome";
    content: "\f173";
    /* add tumblr icon */
}

.tumblrBtn:hover {
    color: #3a5876;
    background: #fff;
    border-color: #3a5876;
}


/* rss button class*/

.rssBtn {
    background: #BDBDBD;
}

.rssBtn:before {
    font-family: "FontAwesome";
    content: "\f09e";
    /* add rss icon */
}

.rssBtn:hover {
    color: #e88845;
    background: #fff;
    border-color: #e88845;
}


/* responsive */

@media (min-width:360px) and (max-width:768px) {
    .user img {
        max-height: 150px;
        max-width: 150px;
    }
    .top-photo h3 {
        font-size: 16px;
    }
    .top-photo h5 {
        font-size: 16px;
        margin-left: 55%;
    }
    .btn-outline {
        margin-bottom: 60px;
    }
}

.fa-facebook {
    background: #3B5998;
    color: white;
  }
  .bi-facebook {
    background: #3B5998;
    color: white;
  }
  /* .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
   */.boxed{
  border: 2px solid rgb(0, 255, 221) ;
  width:1000px;
  height:250px;
  margin-left: 12ch;
  margin-top: 2%;
  /* border-radius: 1% 1% 1% 1%; */
  border-radius: 10px;
}
.bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.658); /* Black w/opacity/see-through */
    color: rgb(255, 230, 0);
    font-weight: bold;
    /* border: 3px solid #f1f1f1; */
    position: absolute;
    top: 85%;
    left: 51%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 90%;
    height:800px;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    border:2px solid #ffe600;
  }

.video{
   margin: 50% 90px 2px 2px;
}
h4{
    margin-left: -78%;
    margin-top: 1%;
}
hr{
    margin-top: 13%;
    color: #ffffff;
}

body{
    font-family: avro;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    width: 100%;
    /* background-image: url('/assets/images/bgimg.jpg'); */
  }
.nice
{
  height: 1000px;
  width: 100%;
}
/* .txt
{
   position: relative;
   left: 20%;

} */
.txt
{
    position: relative;
    left:-35%;
    top:10%;
    text-align: left;
    color: #F5F5DC;
}
hr{
    border:1px solid rgb(0, 255, 221);
    position: relative;
}